DB_HOSTNAME="db"
DB_USERNAME="root"
S3_BUCKET_NAME="intern-recipe-data"
S3_URL="http://localhost:8500/intern-recipe-data"
LOCAL_S3_ENDPOINT="http://minio:8500"
LOCAL_AWS_DUMMY_ACCESS_KEY_ID="access_key"
LOCAL_AWS_DUMMY_SECRET_ACCESS_KEY="secret_key"
